body {
  width: 100%;
  height: 100%;
  overflow: auto; }

.Ftop4 {
  width: 100%;
  height: 1.4rem;
  background: #29a6dc;
  position: relative; }
  .Ftop4 .baolist4 {
    width: 5.72rem;
    height: 0.8rem;
    background: #2a3441;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0.48rem;
    border-radius: 0.4rem; }
    .Ftop4 .baolist4 li {
      width: 33.3333%;
      height: 100%;
      float: left;
      position: relative;
      color: #fff;
      text-align: center;
      font-size: 14px; }
      .Ftop4 .baolist4 li .bk4 {
        width: 1.66rem;
        height: 0.66rem;
        border-radius: 0.4rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto; }
        .Ftop4 .baolist4 li .bk4 span:nth-of-type(1) {
          display: block;
          font-size: 0.24rem; }
        .Ftop4 .baolist4 li .bk4 span:nth-of-type(2) {
          font-size: 0.14rem;
          opacity: 0.7;
          display: block;
          margin-top: -0.04rem;
          color: #fff; }
      .Ftop4 .baolist4 li .bian4 {
        width: 0.05rem;
        height: 0.59rem;
        position: absolute;
        right: -0.04rem;
        top: 0.13rem; }
        .Ftop4 .baolist4 li .bian4 .topyuan4 {
          width: 0.06rem;
          height: 0.06rem;
          background: #fff;
          position: absolute;
          top: 0;
          left: -0.02rem;
          border-radius: 50%; }
        .Ftop4 .baolist4 li .bian4 .middle4 {
          width: 0.02rem;
          height: 0.53rem;
          background: #fff;
          position: absolute;
          top: 0.02rem;
          left: 0rem; }
        .Ftop4 .baolist4 li .bian4 .bottomyuan4 {
          width: 0.06rem;
          height: 0.06rem;
          background: #fff;
          position: absolute;
          left: -0.02rem;
          border-radius: 50%;
          bottom: 0; }
      .Ftop4 .baolist4 li .blue4 {
        background: #29a6dc;
        border: 0.02rem solid #fff; }
        .Ftop4 .baolist4 li .blue4 .yuan4 {
          width: 0.03rem;
          height: 0.03rem;
          position: absolute;
          top: 0.2rem;
          background: #fff; }
        .Ftop4 .baolist4 li .blue4 .yuan:nth-of-type(1) {
          left: 0.32rem; }
        .Ftop4 .baolist4 li .blue4 .yuan:nth-of-type(2) {
          right: 0.32rem; }
        .Ftop4 .baolist4 li .blue4 .yuan:nth-of-type(3) {
          right: 0.26rem; }

.Fjilu4 {
  width: 100%;
  height: 0.5rem;
  background: #e5e5e5; }
  .Fjilu4 span {
    display: block;
    text-align: center;
    line-height: 0.5rem;
    color: #b8b8b8;
    font-size: 0.14rem; }

.box4 {
  width: 100%;
  height: 5rem;
  overflow: hidden; }

.sqnr4 {
  width: 100%;
  height: 2.1rem;
  margin: 0.3rem 0.5rem;
  position: relative;
  border-bottom: 1px dashed #b8b8b8; }

.sqnr4 img {
  margin-top: 0.1rem;
  margin-left: -0.1rem;
  float: left; }

.sqnr4 {
  float: left; }

.sqnr4 h3 {
  font-weight: bold;
  font-size: 0.28rem; }

.sqnr4 p {
  font-size: 0.24rem; }

.sqnr4 .pingjia4 {
  margin-left: 1rem;
  width: 5.2rem;
  height: 1rem;
  background: #9ae1ff;
  position: relative;
  font-size: 0.24rem;
  border-radius: 0.1rem;
  color: #ec2e56; }
  .sqnr4 .pingjia4 span:nth-of-type(1) {
    display: block;
    position: absolute;
    left: 2.6rem;
    top: 0.1rem; }
  .sqnr4 .pingjia4 span:nth-of-type(2) {
    display: block;
    position: absolute;
    left: 2.6rem;
    top: 0.5rem; }

.sqsj4 {
  width: 3rem;
  background-image: url(../image/3/shijian.png);
  background-repeat: no-repeat;
  background-position: -5px -8px;
  padding-left: 0.5rem;
  font-size: 12px; }

.yan4 {
  width: 3rem;
  background-image: url(../image/6/yan-hong.png);
  background-repeat: no-repeat;
  background-position: -2px -2px;
  padding-left: 0.5rem;
  font-size: 12px;
  position: absolute;
  right: -0.2rem;
  bottom: 0.05rem; }

.sqnr4 span {
  margin-left: -2rem; }

.Ffooter4 {
  width: 100%;
  height: 1rem;
  background: #151c2b;
  position: fixed;
  bottom: 0; }
  .Ffooter4 a {
    display: block; }
  .Ffooter4 .all4 {
    width: 20%;
    height: 0.5rem;
    background: #f4f4f4;
    border-radius: 0.4rem;
    position: absolute;
    left: 40%;
    top: 0.25rem;
    font-size: 0.24rem;
    line-height: 0.5rem;
    text-align: center; }
