* {
  box-sizing: border-box;
  letter-spacing: 0.01rem;
}

.header {
  width: 100%;
  height: 1.4rem;
  background: #29a6dc;
  position: relative;
}

.header .title {
  width: 100%;
  height: 100%;
  position: relative;
  color: #FFF;
  text-align: center;
}

.header .title .title1 {
  width: 100%;
  line-height: 1.4rem;
  font-size: 0.4rem;
  float: left;
}

.header .title .title2 {
  width: 100%;
  position: absolute;
  font-size: 0.12rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  top: 1rem;
  left: 0;
}
