@charset "UTF-8";
/*常用宏及scss样式*/
* {
  position: relative;
}

a {
  text-decoration: none;
}

/*清除浮动带的影响*/
/*背景图片循环*/
.A-icon {
  background-image: url("../image/6/A.png");
  background-position: no-repeat;
}

.arrow-icon {
  background-image: url("../image/6/arrow.png");
  background-position: no-repeat;
}

.bi-icon {
  background-image: url("../image/6/bi.png");
  background-position: no-repeat;
}

.bi-hong-icon {
  background-image: url("../image/6/bi-hong.png");
  background-position: no-repeat;
}

.chizi-icon {
  background-image: url("../image/6/chizi.png");
  background-position: no-repeat;
}

.cuo-xuan-icon {
  background-image: url("../image/6/cuo-xuan.png");
  background-position: no-repeat;
}

.di-shui-icon {
  background-image: url("../image/6/di-shui.png");
  background-position: no-repeat;
}

.jiashuqian-daohang-icon {
  background-image: url("../image/6/jiashuqian-daohang.png");
  background-position: no-repeat;
}

.jindu-icon {
  background-image: url("../image/6/jindu.png");
  background-position: no-repeat;
}

.jindu条-icon {
  background-image: url("../image/6/jindu条.png");
  background-position: no-repeat;
}

.mulu-icon {
  background-image: url("../image/6/mulu.png");
  background-position: no-repeat;
}

.rili-icon {
  background-image: url("../image/6/rili.png");
  background-position: no-repeat;
}

.shaodeng-icon {
  background-image: url("../image/6/shaodeng.png");
  background-position: no-repeat;
}

.shezhi-icon {
  background-image: url("../image/6/shezhi.png");
  background-position: no-repeat;
}

.taiyang-icon {
  background-image: url("../image/6/taiyang.png");
  background-position: no-repeat;
}

.time-icon {
  background-image: url("../image/6/time.png");
  background-position: no-repeat;
}

.top-shui-icon {
  background-image: url("../image/6/top-shui.png");
  background-position: no-repeat;
}

.xiazai-icon {
  background-image: url("../image/6/xiazai.png");
  background-position: no-repeat;
}

.yan-bai-icon {
  background-image: url("../image/6/yan-bai.png");
  background-position: no-repeat;
}

.yan-hong-icon {
  background-image: url("../image/6/yan-hong.png");
  background-position: no-repeat;
}

.youbai-icon {
  background-image: url("../image/6/youbai.png");
  background-position: no-repeat;
}

.yuan-icon {
  background-image: url("../image/6/yuan.png");
  background-position: no-repeat;
}

.yueliang-icon {
  background-image: url("../image/6/yueliang.png");
  background-position: no-repeat;
}

#new-nav .tp.arrow {
  background: url("../image/6/arrow.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0;
}

#new-nav .tp.add {
  background: url("../image/6/jiashuqian-daohang.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0;
}

#new-nav .tp.load {
  background: url("../image/6/xiazai.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0;
}

/*宽高背景色*/
/*left-top*/
/*right-top*/
/*left-bottom*/
/*背景图片*/
/*内容*/
#mode-content-inner {
  width: 100%;
  height: 11.8rem;
  background: #FFE9B0;
  overflow: hidden;
}

#mode-content-inner .inner h1 {
  font-size: 20px;
  margin: 0.26rem 0 0 0.3rem;
  font-weight: 600;
}

#mode-content-inner .inner .inner-info {
  text-indent: 2em;
  margin: 0 0.22rem 0 0.32rem;
  white-space: pre-line;
  letter-spacing: 0.03rem;
  font-size: 14px;
}

#mode-content-inner .inner .inner-info p {
  margin-bottom: -0.15rem;
}

#mode-content-inner .book-label {
  width: 1.21rem;
  height: 0.8rem;
  background: transparent;
  background-image: url("../../images/6/youbai.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  right: -6.69rem;
  top: -3rem;
}

#mode-content-inner .moon {
  width: 0.59rem;
  height: 0.63rem;
  background: transparent;
  background-image: url("../../images/6/yueliang.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  left: -6.69rem;
  bottom: -4.2rem;
  z-index: 10;
}

/*内容   End*/
/*页脚*/
#mode-footer {
  width: 100%;
  height: 2.28rem;
  background: #141C2D;
  position: fixed;
  bottom: 0;
}

#mode-footer .foot-info {
  width: 100%;
  height: 0.8rem;
  background: transparent;
  margin: 0.3rem auto;
}

#mode-footer .foot-info:after {
  content: "";
  display: block;
  clear: both;
}

#mode-footer .foot-info li {
  float: left;
  text-align: center;
}

#mode-footer .foot-info li a {
  color: #BCBCBC;
}

#mode-footer .foot-info li:nth-child(1),
#mode-footer .foot-info li:nth-child(4) {
  width: 10%;
  height: 0.8rem;
  background: transparent;
  line-height: 0.8rem;
  margin-left: 0.1rem;
}

#mode-footer .foot-info li:nth-child(1) a,
#mode-footer .foot-info li:nth-child(4) a {
  text-align: right;
}

#mode-footer .foot-info li:nth-child(2) {
  width: 5rem;
  height: 0.8rem;
  background: transparent;
  text-align: center;
}

#mode-footer .foot-info li:nth-child(2) div.line {
  display: block;
  width: 4.67rem;
  height: 0.12rem;
  margin-top: 0.33rem;
  margin-left: 0.05rem;
  background-image: url("../../images/6/jd_03.png");
  background-repeat: no-repeat;
  background-size: 4.67rem 0.12rem;
  background-position: 0 0;
}

#mode-footer .foot-info li:nth-child(2) a {
  display: block;
  width: 0.18rem;
  height: 0.18rem;
  margin-top: 0.33rem;
  margin-left: 0.06rem;
  background-image: url("../../images/6/yuan.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  left: 1.4rem;
  bottom: 0.3rem;
}

#mode-footer .foot-info li:nth-child(3) {
  width: 0.3rem;
  height: 0.8rem;
  background: transparent;
  text-align: center;
  margin-left: -0.18rem;
}

#mode-footer .foot-info li:nth-child(3) a {
  display: block;
  width: 0.3rem;
  height: 0.21rem;
  margin-top: 0.19rem;
  margin-left: 0.05rem;
}

#mode-footer .foot-info li:nth-child(4) {
  width: 15%;
  padding: 0.1rem;
  text-align: center;
  line-height: 1.9;
  border: 0.01rem solid #e6e6e6;
  border-radius: 0.15rem;
  margin-left: 0.2rem;
}

#mode-footer .status {
  width: 95%;
  height: 100%;
  background: transparent;
  margin: auto;
  overflow: hidden;
}

#mode-footer .status a {
  color: #e6e6e6;
}

#mode-footer .status:after {
  content: "";
  display: block;
  clear: both;
}

#mode-footer .status li {
  float: left;
  line-height: 1.2;
  width: 50%;
  height: 100%;
  background: transparent;
}

#mode-footer .status li:after {
  content: "";
  display: block;
  clear: both;
}

#mode-footer .status li div {
  float: left;
}

#mode-footer .status .circle {
  border-radius: 50%;
  margin: 0.2rem;
}

#mode-footer .status .x-circle {
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#mode-footer .status .info {
  margin: 0.2rem 0 0 0.1rem;
  line-height: 1.2;
  font-size: 0.39rem;
}

#mode-footer .status .eye .circle {
  width: 0.5rem;
  height: 0.5rem;
  background: #fff;
}

#mode-footer .status .eye .circle .x-circle {
  width: 0.25rem;
  height: 0.25rem;
  background: #7D7D7D;
}

#mode-footer .status .screen {
  text-align: right;
}

#mode-footer .status .screen .circle {
  margin-left: 1.1rem;
  width: 0.5rem;
  height: 0.5rem;
  background: #fff;
}

#mode-footer .status .screen .circle .x-circle {
  width: 0.25rem;
  height: 0.25rem;
  background: #FFD238;
}

#mode-footer .status .screen .info {
  text-align: right;
}

/*页脚   End*/
