/*常用宏及scss样式*/
* {
    position: relative;
}
a {
    text-decoration: none;
}
@mixin center {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/*清除浮动带的影响*/
@mixin clearfix {
    content: "";
    display: block;
    clear: both;
}
/*背景图片循环*/
$animal-list: A,arrow,bi,bi-hong,chizi,cuo-xuan,di-shui,jiashuqian-daohang,jindu,jindu条,mulu,rili,shaodeng,shezhi,taiyang,time,top-shui,xiazai,yan-bai,yan-hong,youbai,yuan,yueliang;
@each $animal in $animal-list {
    .#{$animal}-icon {
        background-image: url('../image/6/#{$animal}.png');
        background-position: no-repeat;
    }
}
$background-list: arrow,add,load;
$map: ( "arrow":url('../image/6/arrow.png') no-repeat 0 0 cover, "add":url('../image/6/jiashuqian-daohang.png') no-repeat 0 0 cover, "load":url('../image/6/xiazai.png') no-repeat 0 0 cover );
@each $v in map_keys($map) {
    $l: map_get($map,$v);
    #new-nav .tp.#{$v} {
        background: nth($l,1);
        background-repeat: nth($l,2);
        background-position: nth($l,3);
        background-size: nth($l,4);
    }
}
/*宽高背景色*/
@mixin whb($w, $h, $b) {
    width: $w;
    height: $h;
    background: $b;
}
/*left-top*/
@mixin left-top($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
}
/*right-top*/
@mixin right-top($right, $top) {
    position: absolute;
    right: $right;
    top: $top;
}
/*left-bottom*/
@mixin left-bottom($left, $bottom) {
    position: absolute;
    left: $left;
    bottom: $bottom;
}
/*背景图片*/
@mixin background($url, $repeat, $size, $position) {
    background-image: $url;
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}
/*列表导航*/
#list-nav {
    @include whb(6rem,0.8rem,transparent);
    float: left;
    margin: 0.3rem 0 0 0.9rem;
    border-radius: 0.5rem;
    &:after {
        @include clearfix;
    }
    .list {
        @include whb(100%,100%,transparent);
        border-radius: 0.5rem;
        &:after {
            @include clearfix;
        }
        li {
            float: left;
            @include whb(100%,86%,transparent);
            border-radius: 0.5rem;
            margin: 0.06rem;
            text-align: center;
        }
        .nav-title,
        .nav-English {
            line-height: 1.4;
            font-size: 0.26rem;
            font-weight: 400;
        }
        .nav-title {
            white-space: nowrap;
            letter-spacing: 0.1rem;
            margin-top: 0.02rem;
            color: #fff;
        }
        .nav-img {
            width: 0.34rem;
            height: 0.03rem;
            @include background(url(../../images/6/nav-book_03.png),no-repeat,cover,0 0);
            @include center;
            top: 0.2rem;
        }
        .nav-English {
            color: #A3E3FF;
            font-variant: all-small-caps;
        }
    }
}
/*列表导航   End*/
/*列表*/
#list-inner {
    @include whb(100%,12rem,transparent);
    overflow: hidden;
    .list {
        @include whb(6.86rem,1.9rem,#fff);
        border-radius: 0.2rem;
        box-shadow: 0 0 0.26rem rgba(41,166,220,0.5);
        margin: 0.26rem auto;
        &:after {
            @include clearfix;
        }
        li {
            float: left;
            @include whb(100%,auto,transparent);
            &:after {
                @include clearfix;
            }
            div {
                float: left;
            }
        }
        .circle {
            @include whb(1rem,1rem,red);
            border-radius: 50%;
            margin: 0.2rem;
            .people {
                @include background(url(../../images/6/ren-1.png),no-repeat,cover,0 0);
                width: 1rem;
                height: 1rem;
                @include center;
            }
        }
        .inner {
            @include whb(70%,1rem,transparent);
            margin: 0.2rem;
            border-bottom: 0.02rem dotted #9A9A9A;
            a {
                color: #383838;
                font-size: 0.16rem;
            }
        }
        .com-time {
            @include whb(70%,0.6rem,transparent);
            margin-top: -0.2rem;
            margin-left: 1.6rem;
            div {
                width: 50%;
                height: 100%;
            }
            .time {
                &:after {
                    @include clearfix;
                }
                .c-time {
                    float: left;
                    @include whb(0.4rem,0.4rem,#fff);
                    border-radius: 50%;
                    margin-top: 0.13rem;
                    margin-right: 0.1rem;
                    box-shadow: 0 0 0.2rem rgba(41,166,220,0.5);
                    .t-img {
                        @include background(url(../../images/6/time.png),no-repeat,cover,0 0);
                        width: 0.2rem;
                        height: 0.2rem;
                        @include center;
                    }
                }
                span {
                    display: block;
                    float: left;
                    font-size: 0.16rem;
                    color: #A9A6A6;
                    margin-top: 0.16rem;
                }
            }
            .high {
                &:after {
                    @include clearfix;
                }
                text-align: right;
                .h-love {
                    float: left;
                    @include whb(0.4rem,0.4rem,#fff);
                    border-radius: 50%;
                    margin-top: 0.13rem;
                    margin-right: 0.1rem;
                    margin-left: 1.3rem;
                    box-shadow: 0 0 0.2rem rgba(41,166,220,0.5);
                    .h-img {
                        @include background(url(../../images/6/love_03.png),no-repeat,0.2rem 0.2rem,0 0);
                        width: 0.2rem;
                        height: 0.2rem;
                        @include center;
                    }
                }
                span {
                    display: block;
                    float: left;
                    font-size: 0.16rem;
                    color: #A9A6A6;
                    margin-top: 0.16rem;
                }
            }
        }
    }
}
/*列表   End*/
/*footer*/
.footer {
    @include whb(100%,1rem,#151C2B);
    position: fixed;
    bottom: 0;
    .footer-inner {
        @include whb (1.8rem,0.5rem,#fff);
        @include center;
        border-radius: 0.5rem;
    }
    span {
        display: block;
    }
    .title {
        display: block;
        text-align: center;
        font-size: 0.18rem;
        line-height: 1.95;
        color: #383838;
    }
    .footer-circle {
        @include whb(0.1rem,0.1rem,#C4C4C4);
        @include center;
        left: -1.4rem;
    }
    .y-circle {
        right: -2.85rem;
    }
}
/*footer End*/