body{
    width:100%;
    height: 100%;
    overflow: auto;
}
@mixin center {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/*清除浮动带的影响*/
@mixin clearfix {
    content: "";
    display: block;
    clear: both;
}
/*背景图片循环*/
$animal-list: A,arrow,bi,bi-hong,chizi,cuo-xuan,di-shui,jiashuqian-daohang,jindu,jindu条,mulu,rili,shaodeng,shezhi,taiyang,time,top-shui,xiazai,yan-bai,yan-hong,youbai,yuan,yueliang;

@each $animal in $animal-list {
    .#{$animal}-icon {
        background-image: url('../image/6/#{$animal}.png');
        background-position: no-repeat;
    }
}

$background-list:arrow,add,load;
$map:(
"arrow":url('../image/6/arrow.png') no-repeat 0 0 cover,
"add":url('../image/6/jiashuqian-daohang.png') no-repeat 0 0 cover,
"load":url('../image/6/xiazai.png') no-repeat 0 0 cover
);

@each $v in map_keys($map){
    $l:map_get($map,$v);
    #new-nav .tp.#{$v}{
        background:nth($l,1);
        background-repeat:nth($l,2);
        background-position:nth($l,3);
        background-size:nth($l,4);
    }
}
/*宽高背景色*/
@mixin whb($w, $h, $b) {
    width: $w;
    height: $h;
    background: $b;
}
/*left-top*/
@mixin left-top($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
}
/*right-top*/
@mixin right-top($right, $top) {
    position: absolute;
    right: $right;
    top: $top;
}
#new-nav {
    width: 100%;
    height: 1.4rem;
    background: #29A6DC;
    position: relative;
    &:after {
        @include clearfix;
    }
    .back {
        @include whb(0.5rem,0.5rem,transparent);
        @include left-top(0.2rem,0.5rem);
    }
    .arrow {
        background-image: url('../image/6/arrow.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
    }
    .title{
        width: 100%;
        height: 100%;
        position: relative;
        color:#FFF;
        text-align: center;
        .title1{
            width: 100%;
            line-height: 1.4rem;
            font-size: 0.4rem;
            float: left;
        }
        .title2{
            width: 100%;
            position: absolute;
            font-size: 0.12rem;
            color:rgba(255,255,255,0.7);
            text-align: center;
            top:1rem;
            left: 0;
        }
    }

}
.Fjilu{
    width:100%;
    height:0.5rem;
    background: #e5e5e5;
    span{
        display: block;
        text-align: center;
        line-height: 0.5rem;
        color: #b8b8b8;
        font-size: 0.14rem;
    }
}
.box{
    width:100%;
    height:5rem;
    overflow: hidden;
}
.sqnr{
    width:100%;
    height:1.1rem;  
    margin:0.3rem 0.5rem;
    position: relative;
    border-bottom: 1px dashed #b8b8b8;
}
.sqnr img{
    margin-top:0.1rem;
    float:left;
}
.sqnr{
    float:left;
}
.sqnr h3{
    font-weight:bold;
    font-size:0.28rem;
}
.sqnr p{
    font-size:0.2rem;
}
.sqsj{
    width:3rem;
    background-image:url(../image/3/shijian.png);
    background-repeat:no-repeat;
    background-position:-5px -8px ;
    padding-left:0.5rem;
    font-size:12px; 
}
.yan{
    width:3rem;
    background-image:url(../image/6/yan-hong.png);
    background-repeat:no-repeat;
    background-position:-2px -2px ;
    padding-left:0.5rem;
    font-size: 12px;
    position: absolute;
    right:-0.2rem;
    bottom:0.05rem; 
}
.sqnr span{
    margin-left:-2rem;
}

.ckqb2{
    width:2.22rem;
    height:0.39rem;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    line-height: 0.39rem;
    background: #29a6dc;
    border-radius:30px;
    color:#fff;
    position:absolute;
    left:2.6rem;
    bottom:-6.3rem; 
}
#Ffooter{
    width:100%;
    height:1rem;
    background: #151c2b;
    position: fixed;
    bottom: 0;
    .all{
        background: #f4f4f4;
        position: absolute;
        left: 40%;
        top:0.25rem;
        border-radius:0.5rem ;
        width:20%;
        height: 0.5rem;
        text-align: center;
        line-height: 0.5rem;
        font-size: 0.14rem;
        color: #848484;

    }
}

