$color:#29a6dc;
*{
    box-sizing: border-box;
    letter-spacing: 0.01rem;
}
.header{
    width: 100%;
    height: 1.4rem;
    background: $color;
    position: relative;
    .title{
        width: 100%;
        height: 100%;
        position: relative;
        color:#FFF;
        text-align: center;
        .title1{
            width: 100%;
            line-height: 1.4rem;
            font-size: 0.4rem;
            float: left;
        }
        .title2{
            width: 100%;
            position: absolute;
            font-size: 0.12rem;
            color:rgba(255,255,255,0.7);
            text-align: center;
            top:1rem;
            left: 0;
        }
    }
}
