.head1{
   width: 100%;
   height:1.2rem;
   background:#2BA6DC;
     .headd{     
        width:2rem;
        height:1.2rem; 
        background:black;
        float: left; 
         }
     .headdz{
        width:5.5rem;
        height:1.2rem;   
        text-align: center;
        line-height: 1.2rem;
        font-size:18px;
        color: #FFFFFF;
        font: left;
        }
    
  }
 .logo{
     width:100%;
     height:3.57rem;
     background:#2BA6DC;
     text-align: center;
     line-height:3.57rem;
     font-size:22px;
     color:#FFFFFF;
 }
.zm{
   width:100%;
   height:3.02rem; 
   background:#F2F2F2;
  .zm1{
   width: 100%;
   height: 2.02rem;
   text-align: center;
   line-height:3.02rem;
   font-size:0.24rem;
   color:#3B4786;
  }
  .zz{
      width: 100%;
      height: 1rem;
      text-align: right;
      margin-top:-0.22rem;
      padding-right:0.2rem;
      font-size:8px;
      color:#3B4786;  
  }
}
.qq{
   width:6.13rem;
   height:0.88rem;
   margin:0 auto;
   border-radius:25px;
   background:#FFFFFF;
   margin-bottom:0.32rem ;
   .qq1{
     width:1.5rem;
     height:0.88rem;
     background:black;
     float: left;    
   }
   input{
      width:4rem;
      height: 0.88rem;
      float: left;
      border:none;
      outline: none;
      background: none;
      font-size:0.4rem;
      color:#DBDBDB;
   }
}
.qb{
   width:6.13rem;
   height:0.88rem;
   margin:0 auto;
   border-radius:25px;
   background:#FFFFFF;
   margin-bottom:0.32rem ;
   .qb1{
     width:1.5rem;
     height:0.88rem;
     background:black;
     float: left;    
   }
   input{
      width:4rem;
      height: 0.88rem;
      float: left;
      border:none;
      outline: none;
      background: none;
      font-size:0.4rem;
      color:#DBDBDB;
   }
}
.zw{
   width:100%;
   height:0.22rem;
   margin-bottom:0.95rem;
   .zwz{
       width: 5.18rem;
       height:0.22rem;
    
       margin:0 auto;
       .zwzl{
           width:1.44rem;
           height: 0.22rem;
           float: left;
           .zwzlt{
               width:0.25rem;
               height: 0.22rem;
               background: yellow;
               float: left;
               margin-right: 0.2rem;
           }
           .zwzlz{
              width:1.6rem;
              height:0.22rem;
              font-size:0.14rem;
              color:#DBDBDB; 
              text-align: center;             
              line-height:0.22rem;
             
           }
       }
       .zwzr{
           width:1.44rem;
           height: 0.22rem;
           float: right;
           .zwzrt{
               width:0.25rem;
               height: 0.22rem;
               background: yellow;
               float: left;
               margin-right: 0.2rem;
           }
           .zwzrz{
              width:1.6rem;
              height:0.22rem;
              font-size:0.14rem;
              color:#DBDBDB; 
              text-align: center;             
              line-height:0.22rem;
             
           }
       }
   }
}
.lj{
    width:5.62rem;
    height:0.8rem;
    background:red;
    margin:0 auto;
    border-radius:25px;
    padding-top:0.35rem ;
    background:#3DBFFD;
    .lj1{
       width:0.06rem;
       height:0.06rem;    
       background:#F5F7F7;
       margin-left:0.3rem; 
       float: left;     
       }
     .lj2{
       width:4.52rem;
       height:0.4rem;     
       float: left;
       text-align: center;
       line-height:0.4;
       color: #F5F7F7;
     }
      .lj3{
       width:0.06rem;
       height:0.06rem;    
       background:#F5F7F7;
       margin-right:0.3rem; 
       float: right;     
       }
}
