@charset "UTF-8";
/*常用宏及scss样式*/
* {
  position: relative;
}

a {
  text-decoration: none;
}

/*清除浮动带的影响*/
/*背景图片循环*/
.A-icon {
  background-image: url("../image/6/A.png");
  background-position: no-repeat;
}

.arrow-icon {
  background-image: url("../image/6/arrow.png");
  background-position: no-repeat;
}

.bi-icon {
  background-image: url("../image/6/bi.png");
  background-position: no-repeat;
}

.bi-hong-icon {
  background-image: url("../image/6/bi-hong.png");
  background-position: no-repeat;
}

.chizi-icon {
  background-image: url("../image/6/chizi.png");
  background-position: no-repeat;
}

.cuo-xuan-icon {
  background-image: url("../image/6/cuo-xuan.png");
  background-position: no-repeat;
}

.di-shui-icon {
  background-image: url("../image/6/di-shui.png");
  background-position: no-repeat;
}

.jiashuqian-daohang-icon {
  background-image: url("../image/6/jiashuqian-daohang.png");
  background-position: no-repeat;
}

.jindu-icon {
  background-image: url("../image/6/jindu.png");
  background-position: no-repeat;
}

.jindu条-icon {
  background-image: url("../image/6/jindu条.png");
  background-position: no-repeat;
}

.mulu-icon {
  background-image: url("../image/6/mulu.png");
  background-position: no-repeat;
}

.rili-icon {
  background-image: url("../image/6/rili.png");
  background-position: no-repeat;
}

.shaodeng-icon {
  background-image: url("../image/6/shaodeng.png");
  background-position: no-repeat;
}

.shezhi-icon {
  background-image: url("../image/6/shezhi.png");
  background-position: no-repeat;
}

.taiyang-icon {
  background-image: url("../image/6/taiyang.png");
  background-position: no-repeat;
}

.time-icon {
  background-image: url("../image/6/time.png");
  background-position: no-repeat;
}

.top-shui-icon {
  background-image: url("../image/6/top-shui.png");
  background-position: no-repeat;
}

.xiazai-icon {
  background-image: url("../image/6/xiazai.png");
  background-position: no-repeat;
}

.yan-bai-icon {
  background-image: url("../image/6/yan-bai.png");
  background-position: no-repeat;
}

.yan-hong-icon {
  background-image: url("../image/6/yan-hong.png");
  background-position: no-repeat;
}

.youbai-icon {
  background-image: url("../image/6/youbai.png");
  background-position: no-repeat;
}

.yuan-icon {
  background-image: url("../image/6/yuan.png");
  background-position: no-repeat;
}

.yueliang-icon {
  background-image: url("../image/6/yueliang.png");
  background-position: no-repeat;
}

#new-nav .tp.arrow {
  background: url("../image/6/arrow.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0;
}

#new-nav .tp.add {
  background: url("../image/6/jiashuqian-daohang.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0;
}

#new-nav .tp.load {
  background: url("../image/6/xiazai.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0;
}

/*宽高背景色*/
/*left-top*/
/*right-top*/
/*left-bottom*/
/*背景图片*/
/*内容*/
#information-content-inner {
  width: 100%;
  height: 11.8rem;
  background: #FFE9B0;
  overflow: hidden;
}

#information-content-inner .information-inner h1 {
  font-size: 20px;
  margin: 0.26rem 0 0 0.3rem;
  font-weight: 600;
}

#information-content-inner .information-inner .inner-info {
  text-indent: 2em;
  margin: 0 0.22rem 0 0.32rem;
  white-space: pre-line;
  letter-spacing: 0.03rem;
  font-size: 14px;
}

#information-content-inner .information-inner .inner-info p {
  margin-bottom: -0.15rem;
}

#information-content-inner .book-label {
  width: 1.21rem;
  height: 0.8rem;
  background: transparent;
  background-image: url("../../images/6/youbai.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  right: -6.69rem;
  top: -3rem;
}

#information-content-inner .moon {
  width: 0.59rem;
  height: 0.63rem;
  background: transparent;
  background-image: url("../../images/6/yueliang.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  left: -6.69rem;
  bottom: -3.2rem;
  z-index: 10;
}

/*内容   End*/
/*页脚*/
#information-footer {
  width: 100%;
  height: 3.9rem;
  background: #141C2D;
  position: fixed;
  bottom: 0;
}

#information-footer .foot-info {
  width: 95%;
  height: 0.8rem;
  background: transparent;
  margin: 0 auto;
}

#information-footer .foot-info:after {
  content: "";
  display: block;
  clear: both;
}

#information-footer .foot-info li {
  float: left;
  text-align: center;
}

#information-footer .foot-info li a {
  color: #BCBCBC;
}

#information-footer .foot-info li:nth-child(1),
#information-footer .foot-info li:nth-child(4) {
  width: 15%;
  height: 0.8rem;
  background: transparent;
  line-height: 0.8rem;
}

#information-footer .foot-info li:nth-child(1) a,
#information-footer .foot-info li:nth-child(4) a {
  text-align: right;
}

#information-footer .foot-info li:nth-child(2) {
  width: 0.3rem;
  height: 0.8rem;
  background: transparent;
  text-align: center;
  margin-left: -0.05rem;
}

#information-footer .foot-info li:nth-child(2) a {
  display: block;
  width: 0.3rem;
  height: 0.21rem;
  margin-top: 0.29rem;
  margin-left: 0.10rem;
  background-image: url("../../images/6/A.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

#information-footer .foot-info li:nth-child(3) {
  width: 5rem;
  height: 0.8rem;
  background: transparent;
  text-align: center;
  margin-left: 0.086rem;
}

#information-footer .foot-info li:nth-child(3) div.line {
  display: block;
  width: 4.67rem;
  height: 0.12rem;
  margin-top: 0.33rem;
  margin-left: 0.12rem;
  background-image: url("../../images/6/jd_03.png");
  background-repeat: no-repeat;
  background-size: 4.67rem 0.12rem;
  background-position: 0 0;
}

#information-footer .foot-info li:nth-child(3) a {
  display: block;
  width: 0.18rem;
  height: 0.18rem;
  margin-top: 0.33rem;
  margin-left: 0.12rem;
  background-image: url("../../images/6/yuan.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  left: 1.4rem;
  bottom: 0.3rem;
}

#information-footer .foot-info li:nth-child(4) {
  width: 10%;
}

#information-footer ul:nth-child(2) li:nth-child(2) {
  width: 0.3rem;
  height: 0.8rem;
  background: transparent;
  text-align: center;
  margin-left: -0.05rem;
}

#information-footer ul:nth-child(2) li:nth-child(2) a {
  margin-top: 0.26rem;
  margin-left: 0.10rem;
  width: 0.3rem;
  height: 0.28rem;
  background-image: url("../../images/6/chizi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

#information-footer ul:nth-child(2) li:nth-child(3) {
  width: 5rem;
  height: 0.8rem;
  background: transparent;
  text-align: center;
  margin-left: 0.086rem;
}

#information-footer ul:nth-child(2) li:nth-child(3) div.line {
  display: block;
  width: 4.67rem;
  height: 0.12rem;
  margin-top: 0.36rem;
  margin-left: 0.12rem;
  background-image: url("../../images/6/jd.png");
  background-repeat: no-repeat;
  background-size: 4.67rem 0.12rem;
  background-position: 0 0;
}

#information-footer ul:nth-child(2) li:nth-child(3) a {
  display: block;
  width: 0.18rem;
  height: 0.18rem;
  margin-top: 0.36rem;
  margin-left: 0.12rem;
  background-image: url("../../images/6/yuan.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: absolute;
  left: 0.88rem;
  bottom: 0.3rem;
}

#information-footer .status {
  width: 95%;
  height: 100%;
  background: transparent;
  margin: auto;
  overflow: hidden;
}

#information-footer .status a {
  color: #e6e6e6;
}

#information-footer .status:after {
  content: "";
  display: block;
  clear: both;
}

#information-footer .status dt {
  float: left;
  width: 10%;
  height: 100%;
  background: transparent;
  margin-left: 0.199rem;
  margin-top: 0.1rem;
}

#information-footer .status dd {
  float: left;
  width: 87.2%;
  height: 100%;
  background: transparent;
}

#information-footer .status dd ul {
  width: 100%;
  height: 100%;
  background: transparent;
}

#information-footer .status dd ul:after {
  content: "";
  display: block;
  clear: both;
}

#information-footer .status dd li {
  float: left;
  width: 12.5%;
  height: 100%;
  background: transparent;
}

#information-footer .status dd li .bj {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  top: -3rem;
}

#information-footer .status dd li a {
  font-size: 0.12rem;
  color: #E6E6E6;
  white-space: nowrap;
  display: block;
  position: absolute;
  top: 0.8rem;
}

#information-footer .status dd li:nth-child(1) .bj {
  width: 60%;
  height: 12%;
  background: #FCF3DB;
}

#information-footer .status dd li:nth-child(2) .bj {
  width: 60%;
  height: 12%;
  background: #FFE9B0;
}

#information-footer .status dd li:nth-child(3) .bj {
  width: 60%;
  height: 12%;
  background: #D8A764;
}

#information-footer .status dd li:nth-child(4) .bj {
  width: 60%;
  height: 12%;
  background: #3B76AC;
}

#information-footer .status dd li:nth-child(5) .bj {
  width: 60%;
  height: 12%;
  background: #21858E;
}

#information-footer .status dd li:nth-child(6) .bj {
  width: 60%;
  height: 12%;
  background: #F4C5D4;
}

#information-footer .status dd li:nth-child(7) .bj {
  width: 60%;
  height: 12%;
  background: #79D146;
}

#information-footer .status dd li:nth-child(8) .bj {
  text-align: center;
  width: 60%;
  height: 12%;
  background: #FFFFFF;
}

/*页脚   End*/
