@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.zz {
  font-family: 'iconfont'; }

* {
  position: relative; }

/*清除浮动带的影响*/
/*背景图片循环*/
.A-icon {
  background-image: url("../image/6/A.png");
  background-position: no-repeat; }

.arrow-icon {
  background-image: url("../image/6/arrow.png");
  background-position: no-repeat; }

.bi-icon {
  background-image: url("../image/6/bi.png");
  background-position: no-repeat; }

.bi-hong-icon {
  background-image: url("../image/6/bi-hong.png");
  background-position: no-repeat; }

.chizi-icon {
  background-image: url("../image/6/chizi.png");
  background-position: no-repeat; }

.cuo-xuan-icon {
  background-image: url("../image/6/cuo-xuan.png");
  background-position: no-repeat; }

.di-shui-icon {
  background-image: url("../image/6/di-shui.png");
  background-position: no-repeat; }

.jiashuqian-daohang-icon {
  background-image: url("../image/6/jiashuqian-daohang.png");
  background-position: no-repeat; }

.jindu-icon {
  background-image: url("../image/6/jindu.png");
  background-position: no-repeat; }

.jindu条-icon {
  background-image: url("../image/6/jindu条.png");
  background-position: no-repeat; }

.mulu-icon {
  background-image: url("../image/6/mulu.png");
  background-position: no-repeat; }

.rili-icon {
  background-image: url("../image/6/rili.png");
  background-position: no-repeat; }

.shaodeng-icon {
  background-image: url("../image/6/shaodeng.png");
  background-position: no-repeat; }

.shezhi-icon {
  background-image: url("../image/6/shezhi.png");
  background-position: no-repeat; }

.taiyang-icon {
  background-image: url("../image/6/taiyang.png");
  background-position: no-repeat; }

.time-icon {
  background-image: url("../image/6/time.png");
  background-position: no-repeat; }

.top-shui-icon {
  background-image: url("../image/6/top-shui.png");
  background-position: no-repeat; }

.xiazai-icon {
  background-image: url("../image/6/xiazai.png");
  background-position: no-repeat; }

.yan-bai-icon {
  background-image: url("../image/6/yan-bai.png");
  background-position: no-repeat; }

.yan-hong-icon {
  background-image: url("../image/6/yan-hong.png");
  background-position: no-repeat; }

.youbai-icon {
  background-image: url("../image/6/youbai.png");
  background-position: no-repeat; }

.yuan-icon {
  background-image: url("../image/6/yuan.png");
  background-position: no-repeat; }

.yueliang-icon {
  background-image: url("../image/6/yueliang.png");
  background-position: no-repeat; }

#new-nav .tp.arrow {
  background: url("../image/6/arrow.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0; }

#new-nav .tp.add {
  background: url("../image/6/jiashuqian-daohang.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0; }

#new-nav .tp.load {
  background: url("../image/6/xiazai.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0; }

/*宽高背景色*/
/*left-top*/
/*right-top*/
.zhezhao {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 13.34rem;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  /*上下居中的混合宏*/ }
  .zhezhao .discuss {
    width: 4.76rem;
    height: 3rem;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    border-radius: 0.28rem; }
    .zhezhao .discuss .discuss-top {
      width: 100%;
      height: 0.72rem;
      background: transparent;
      border-top-left-radius: 0.28rem;
      border-top-right-radius: 0.28rem;
      background-image: url(../image/5/xy.jpg);
      background-repeat: no-repeat;
      background-size: cover; }
    .zhezhao .discuss .discuss-inner {
      width: 100%;
      height: 1.2rem;
      background: transparent;
      text-align: center;
      line-height: 1;
      margin-top: 0.2rem; }
      .zhezhao .discuss .discuss-inner p {
        margin-top: 0.1rem;
        font-size: 0.18rem;
        color: #383838; }
    .zhezhao .discuss .tan-bom {
      width: 100%;
      height: 1rem;
      position: absolute;
      bottom: 0; }
      .zhezhao .discuss .tan-bom .cb-f1 {
        width: 2rem;
        height: 0.5rem;
        border-radius: 1rem;
        background: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0.2rem;
        border: 0.01rem solid #28dd8b; }
        .zhezhao .discuss .tan-bom .cb-f1 span {
          width: 2rem;
          height: 0.5rem;
          display: block;
          text-align: center;
          line-height: 0.5rem;
          color: #28dd8b; }
        .zhezhao .discuss .tan-bom .cb-f1 .cb-y {
          width: 0.1rem;
          height: 0.1rem;
          border-radius: 50%;
          background: #28dd8b;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: 0.12rem; }
        .zhezhao .discuss .tan-bom .cb-f1 .cb-y1 {
          left: -1.5rem; }
      .zhezhao .discuss .tan-bom .cb-f2 {
        width: 2rem;
        height: 0.5rem;
        border-radius: 1rem;
        background: #28dd8b;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0.2rem; }
        .zhezhao .discuss .tan-bom .cb-f2 span {
          width: 2rem;
          height: 0.5rem;
          display: block;
          text-align: center;
          line-height: 0.5rem;
          color: #fff; }
        .zhezhao .discuss .tan-bom .cb-f2 .cb-y {
          width: 0.1rem;
          height: 0.1rem;
          border-radius: 50%;
          background: #fff;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: 0.12rem; }
        .zhezhao .discuss .tan-bom .cb-f2 .cb-y1 {
          left: -1.5rem; }

/*新闻头部*/
.new-nav1 {
  width: 100%;
  height: 1.4rem;
  background: #29A6DC;
  position: relative; }
  .new-nav1:after {
    content: "";
    display: block;
    clear: both; }
  .new-nav1 .back1 {
    width: 0.5rem;
    height: 0.5rem;
    background: transparent;
    position: absolute;
    left: 0.2rem;
    top: 0.5rem; }
  .new-nav1 .arrow1 {
    background-image: url("../image/6/arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0; }
  .new-nav1 .title1 {
    width: 100%;
    height: 100%;
    position: relative;
    color: #FFF;
    text-align: center; }
    .new-nav1 .title1 .title11 {
      width: 100%;
      line-height: 1.4rem;
      font-size: 0.4rem;
      float: left; }
    .new-nav1 .title1 .title21 {
      width: 100%;
      position: absolute;
      font-size: 0.12rem;
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      top: 1rem;
      left: 0; }

.biji {
  position: absolute;
  top: 1.4rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 7rem; }
  .biji .star {
    width: 100%;
    height: 1.5rem;
    border-bottom: 1px solid #999999; }
    .biji .star .zz {
      font-size: 1.3rem;
      float: left;
      color: yellow;
      line-height: 1.5rem; }
  .biji .context {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 3rem;
    border: 0.02rem solid #dfdfdf;
    color: #999999; }
    .biji .context .Fpl {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 3rem;
      border: none; }
