@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
}

/*上下居中的混合宏*/
/*左右居中的混合宏*/
body, html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f2f2f2;
}

.B3header {
  width: 100%;
  height: 1.4rem;
  position: relative;
  background: #29a6dc;
}

.B3header .return {
  width: 0.52rem;
  height: 0.51rem;
  position: absolute;
  background-image: url("../images/arrow.png");
  background-size: cover;
  bottom: 0.2rem;
  left: 0.25rem;
}

.B3header .yuyin {
  width: 0.5rem;
  height: 0.5rem;
  background-image: url("../images/loudou.png");
  background-size: contain;
  position: absolute;
  right: 0.38rem;
  bottom: 0.2rem;
}

.B3header .search {
  width: 5.45rem;
  height: 0.55rem;
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0.2rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding-left: 0.75rem;
  box-sizing: border-box;
  font-size: 0.22rem;
  color: #c4c4c4;
  line-height: 0.55rem;
  background-image: url("../images/fdj.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.B3main {
  width: 100%;
  height: auto;
  position: relative;
  background: #fafafa;
  overflow: hidden;
}

.B3main .box {
  width: 100%;
  height: 3.7rem;
  margin-top: 0.15rem;
  background: #fff;
  float: left;
  box-shadow: 0 0 20px 0 #efefef;
  position: relative;
  display:block;
  background:none;
}

.B3main .box .left {
  width: 3.05rem;
  height: 100%;
  float: left;
  position: relative;
}

.B3main .box .left img {
  width: 2.45rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: auto;
}

.B3main .box .right {
  width: 4.45rem;
  height: 100%;
  float: left;
  position: relative;
}

.B3main .box .right .bookname {
  float: left;
  font-size: 0.28rem;
  color: #333;
  margin-top: 0.2rem;
}

.B3main .box .right .english {
  float: left;
  width: 100%;
  font-size: 0.16rem;
  color: #999;
  transform: scale(0.8);
  text-align: left;
  margin-left: -0.25rem;
  margin-top: 0.05rem;
}

.B3main .box .right .intro {
  float: left;
  width: 100%;
  font-size: 0.24rem;
  color: #666;
  transform: scale(0.8);
  margin-left: -0.25rem;
  line-height: 0.35rem;
}

.B3main .box .right .author {
  float: left;
  width: 100%;
  font-size: 0.18rem;
  color: #999;
  transform: scale(0.8);
  margin-left: -0.25rem;
}

.B3main .box .right .word {
  float: left;
  width: 100%;
  font-size: 0.18rem;
  color: #999;
  transform: scale(0.8);
  margin-left: -0.25rem;
}

.B3main .box .right .tuxing {
  width: 1.5rem;
  height: 0.25rem;
  float: left;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}

.B3main .box .right .tuxing .star {
  width: 0.25rem;
  height: 0.25rem;
  margin-right: 0.05rem;
  float: left;
  background-image: url("../images/xing-huang.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.B3main .box .right .tuxing .star1 {
  background-image: url("../images/xing-hei.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.B3main .box .right .look {
  width: 1.84rem;
  height: 0.57rem;
  position: absolute;
  background: url("../images/look.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  bottom: 0.35rem;
  right: 0.35rem;
}

.B3footer {
  width: 100%;
  height: 1.05rem;
  position: fixed;
  background: #151c2b;
  bottom: 0;
}

.B3footer .option {
  float: left;
  width: 33.33%;
  height: 100%;
  position: relative;
  border-right: 1px solid #717171;
  box-sizing: border-box;
}

.B3footer .option .icon {
  font-family: "iconfont";
  font-size: 0.5rem;
  color: #5f6063;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0.45rem;
  text-align: center;
}

.B3footer .option .word {
  font-size: 0.24rem;
  color: #5f6063;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0.1rem;
  text-align: center;
}

.B3footer .option:first-of-type .icon {
  color: #fff;
}

.B3footer .option:first-of-type .word {
  color: #fff;
}
