@charset "UTF-8";
/*常用宏及scss样式*/
* {
  position: relative;
}

a {
  text-decoration: none;
}

/*清除浮动带的影响*/
/*背景图片循环*/
.A-icon {
  background-image: url("../image/6/A.png");
  background-position: no-repeat;
}

.arrow-icon {
  background-image: url("../image/6/arrow.png");
  background-position: no-repeat;
}

.bi-icon {
  background-image: url("../image/6/bi.png");
  background-position: no-repeat;
}

.bi-hong-icon {
  background-image: url("../image/6/bi-hong.png");
  background-position: no-repeat;
}

.chizi-icon {
  background-image: url("../image/6/chizi.png");
  background-position: no-repeat;
}

.cuo-xuan-icon {
  background-image: url("../image/6/cuo-xuan.png");
  background-position: no-repeat;
}

.di-shui-icon {
  background-image: url("../image/6/di-shui.png");
  background-position: no-repeat;
}

.jiashuqian-daohang-icon {
  background-image: url("../image/6/jiashuqian-daohang.png");
  background-position: no-repeat;
}

.jindu-icon {
  background-image: url("../image/6/jindu.png");
  background-position: no-repeat;
}

.jindu条-icon {
  background-image: url("../image/6/jindu条.png");
  background-position: no-repeat;
}

.mulu-icon {
  background-image: url("../image/6/mulu.png");
  background-position: no-repeat;
}

.rili-icon {
  background-image: url("../image/6/rili.png");
  background-position: no-repeat;
}

.shaodeng-icon {
  background-image: url("../image/6/shaodeng.png");
  background-position: no-repeat;
}

.shezhi-icon {
  background-image: url("../image/6/shezhi.png");
  background-position: no-repeat;
}

.taiyang-icon {
  background-image: url("../image/6/taiyang.png");
  background-position: no-repeat;
}

.time-icon {
  background-image: url("../image/6/time.png");
  background-position: no-repeat;
}

.top-shui-icon {
  background-image: url("../image/6/top-shui.png");
  background-position: no-repeat;
}

.xiazai-icon {
  background-image: url("../image/6/xiazai.png");
  background-position: no-repeat;
}

.yan-bai-icon {
  background-image: url("../image/6/yan-bai.png");
  background-position: no-repeat;
}

.yan-hong-icon {
  background-image: url("../image/6/yan-hong.png");
  background-position: no-repeat;
}

.youbai-icon {
  background-image: url("../image/6/youbai.png");
  background-position: no-repeat;
}

.yuan-icon {
  background-image: url("../image/6/yuan.png");
  background-position: no-repeat;
}

.yueliang-icon {
  background-image: url("../image/6/yueliang.png");
  background-position: no-repeat;
}

#new-nav .tp.arrow {
  background: url("../image/6/arrow.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0;
}

#new-nav .tp.add {
  background: url("../image/6/jiashuqian-daohang.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0;
}

#new-nav .tp.load {
  background: url("../image/6/xiazai.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0;
}

/*宽高背景色*/
/*left-top*/
/*right-top*/
/*left-bottom*/
/*背景图片*/
/*页头*/
.reading-con-header {
  width: 93%;
  height: auto;
  background: #FFE9B0;
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
  margin: auto;
  z-index: 33;
}

.reading-con-header:after {
  content: "";
  display: block;
  clear: both;
}

.reading-con-header div {
  float: left;
}

.reading-con-header .l-line {
  width: 5%;
  height: 0.05rem;
  background: #635C4A;
  margin-top: 0.18rem;
}

.reading-con-header .info {
  width: 21%;
  height: auto;
  background: transparent;
  font-size: 14px;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
}

.reading-con-header .r-line {
  width: 69%;
  height: 0.05rem;
  background: #635C4A;
  margin-top: 0.18rem;
}

/*页头  End*/
/*内容*/
#reading-content-inner {
  width: 100%;
  height: 13rem;
  background: #FFE9B0;
  overflow: hidden;
}

#reading-content-inner .inner h1 {
  font-size: 20px;
  margin: 0.699rem 0 0 0.3rem;
  font-weight: 600;
}

#reading-content-inner .inner .inner-info {
  text-indent: 2em;
  margin: 0.1rem 0.22rem 0 0.32rem;
  white-space: pre-line;
  letter-spacing: 0.03rem;
  font-size: 14px;
}

#reading-content-inner .inner .inner-info p {
  margin-bottom: -0.1rem;
}

/*内容   End*/
/*页脚*/
#reading-footer {
  width: 100%;
  height: 0.96rem;
  background: #FFE9B0;
  position: fixed;
  bottom: 0;
}

#reading-footer .foot-info {
  width: 90rem;
  height: 1.2rem;
  background: transparent;
  margin: auto;
}

#reading-footer .foot-info:after {
  content: "";
  display: block;
  clear: both;
}

#reading-footer .foot-info li {
  font-weight: 400;
  float: left;
  line-height: 3;
}

#reading-footer .foot-info li a {
  color: #393229;
  font-weight: 500;
}

#reading-footer .foot-info .progress {
  width: 6.5%;
  height: 100%;
  background: transparent;
  line-height: 3;
  padding-left: 0.26rem;
}

#reading-footer .foot-info .number {
  text-align: right;
  margin-left: 0.2rem;
}

/*页脚   End*/
