body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
}

#top {
  width: 100%;
  height: 1.4rem;
  background: #29a6dc;
  position: relative;
}

#top .baolist {
  width: 5.72rem;
  height: 0.8rem;
  background: #2a3441;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0.48rem;
  border-radius: 0.4rem;
}

#top .baolist li {
  width: 33.3333%;
  height: 100%;
  float: left;
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

#top .baolist li .bk {
  width: 1.66rem;
  height: 0.66rem;
  border-radius: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#top .baolist li .bk span:nth-of-type(1) {
  display: block;
  font-size: 0.24rem;
}

#top .baolist li .bk span:nth-of-type(2) {
  font-size: 0.14rem;
  opacity: 0.7;
  display: block;
  margin-top: -0.04rem;
  color: #fff;
}

#top .baolist li .bian {
  width: 0.05rem;
  height: 0.59rem;
  position: absolute;
  right: -0.04rem;
  top: 0.13rem;
}

#top .baolist li .bian .topyuan {
  width: 0.06rem;
  height: 0.06rem;
  background: #fff;
  position: absolute;
  top: 0;
  left: -0.02rem;
  border-radius: 50%;
}

#top .baolist li .bian .middle {
  width: 0.02rem;
  height: 0.53rem;
  background: #fff;
  position: absolute;
  top: 0.02rem;
  left: 0rem;
}

#top .baolist li .bian .bottomyuan {
  width: 0.06rem;
  height: 0.06rem;
  background: #fff;
  position: absolute;
  left: -0.02rem;
  border-radius: 50%;
  bottom: 0;
}

#top .baolist li .blue {
  background: #29a6dc;
  border: 0.02rem solid #fff;
}

#top .baolist li .blue .yuan {
  width: 0.03rem;
  height: 0.03rem;
  position: absolute;
  top: 0.2rem;
  background: #fff;
}

#top .baolist li .blue .yuan:nth-of-type(1) {
  left: 0.32rem;
}

#top .baolist li .blue .yuan:nth-of-type(2) {
  right: 0.32rem;
}

#top .baolist li .blue .yuan:nth-of-type(3) {
  right: 0.26rem;
}

.new {
  width: 100%;
  height: 2.67rem;
  background: url("../image/3/remendatu.png");
  background-size: cover;
  margin-bottom: 0.1rem;
}

.new .newleft {
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
}

.new .newleft .newleft1 {
  position: absolute;
  left: 0.8rem;
  top: 0.47rem;
  color: #d9d8d9;
  font-size: 0.28rem;
  text-align: center;
}

.new .newleft .newleft2 {
  position: absolute;
  left: 0.65rem;
  top: 0.9rem;
  color: #d9d8d9;
  font-size: 0.12rem;
  text-align: center;
}

.new .newleft .newleft3 {
  width: 0.26rem;
  height: 0.26rem;
  background: url("../image/3/remenicon.png");
  background-size: cover;
  position: absolute;
  left: 1.73rem;
  top: 1.25rem;
}

.new .newleft .newleft4 {
  position: absolute;
  left: 1.05rem;
  top: 1.55rem;
  color: #D9D8D9;
  font-size: 0.12rem;
}

.new .newleft .newleft5 {
  position: absolute;
  left: 0.22rem;
  top: 1.85rem;
  color: #D9D8D9;
  font-size: 0.18rem;
}

.new .newleft .newleft6 {
  position: absolute;
  left: 1.38rem;
  top: 2.15rem;
  color: #D9D8D9;
  font-size: 0.18rem;
}

.new .newright {
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  left: 50%;
  top: -100%;
}

.new .newright .newright1 {
  position: absolute;
  top: 0.57rem;
  left: 0.16rem;
  color: #FFF;
  font-size: 0.30rem;
}

.new .newright .newright2 {
  position: absolute;
  top: 0.63rem;
  left: 1.2rem;
  color: #D9D8D9;
  font-size: 0.22rem;
}

.new .newright .newright3 {
  position: absolute;
  top: 1.1rem;
  left: 0rem;
  color: #fff;
  font-size: 0.34rem;
}

.new .newright .newright4 {
  position: absolute;
  top: 1.25rem;
  left: 1.2rem;
  color: #d9d8d9;
  font-size: 0.22rem;
}

.new .newright .newright5 {
  position: absolute;
  top: 1.8rem;
  left: 0.16rem;
  color: #fff;
  font-size: 0.30rem;
}

.new .newright .newright6 {
  position: absolute;
  top: 1.9rem;
  left: 1.2rem;
  color: #d9d8d9;
  font-size: 0.22rem;
}

#footer {
  width: 100%;
  height: 1rem;
  background: #151c2b;
  position: fixed;
  bottom: 0;
}

#footer .list-icon {
  width: 33.333333%;
  height: 100%;
  float: left;
  text-align: center;
  position: relative;
  color: #646567;
}

#footer .list-icon .iconfont {
  font-family: "iconfont" !important;
  font-size: 0.4rem;
  display: block;
  margin: auto;
  margin-top: 0.1rem;
}

#footer .list-icon .zi {
  font-size: 0.24rem;
}

#footer .selected-di {
  color: #fff;
}
