@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
 .zz{
    font-family: 'iconfont';
}                   
* {
    position: relative;
}
@mixin center {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/*清除浮动带的影响*/
@mixin clearfix {
    content: "";
    display: block;
    clear: both;
}
/*背景图片循环*/
$animal-list: A,arrow,bi,bi-hong,chizi,cuo-xuan,di-shui,jiashuqian-daohang,jindu,jindu条,mulu,rili,shaodeng,shezhi,taiyang,time,top-shui,xiazai,yan-bai,yan-hong,youbai,yuan,yueliang;

@each $animal in $animal-list {
    .#{$animal}-icon {
        background-image: url('../image/6/#{$animal}.png');
        background-position: no-repeat;
    }
}

$background-list:arrow,add,load;
$map:(
"arrow":url('../image/6/arrow.png') no-repeat 0 0 cover,
"add":url('../image/6/jiashuqian-daohang.png') no-repeat 0 0 cover,
"load":url('../image/6/xiazai.png') no-repeat 0 0 cover
);

@each $v in map_keys($map){
    $l:map_get($map,$v);
    #new-nav .tp.#{$v}{
        background:nth($l,1);
        background-repeat:nth($l,2);
        background-position:nth($l,3);
        background-size:nth($l,4);
    }
}
/*宽高背景色*/
@mixin whb($w, $h, $b) {
    width: $w;
    height: $h;
    background: $b;
}
/*left-top*/
@mixin left-top($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
}
/*right-top*/
@mixin right-top($right, $top) {
    position: absolute;
    right: $right;
    top: $top;
}
.zhezhao{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 13.34rem;
    background:rgba(0,0,0,0.5);
    z-index: 999;
    /*上下居中的混合宏*/
@mixin top-bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.discuss {
    @include whb(4.76rem,3rem,#fff);
    @include center;
    z-index: 1000;
    border-radius: 0.28rem;
    .discuss-top {
        @include whb(100%,0.72rem,transparent);
        border-top-left-radius: 0.28rem;
        border-top-right-radius: 0.28rem;    
        background-image:url(../image/5/xy.jpg);
        background-repeat:no-repeat;
        background-size:cover;
    }
    .discuss-inner {
        @include whb(100%,1.2rem,transparent);
        text-align:center;
        line-height:1;
        margin-top:0.2rem;
        p{
            margin-top:0.1rem;
            font-size:0.18rem;
            color:#383838;    
        }
    }
    .tan-bom {
        width: 100%;
        height: 1rem;
        position: absolute;
        bottom: 0;
        .cb-f1 {
            width: 2rem;
            height: 0.5rem;
            border-radius: 1rem;
            background: #fff;
            @include top-bottom;
            left: 0.2rem;
            border: 0.01rem solid #28dd8b;
            span {
                width: 2rem;
                height: 0.5rem;
                display: block;
                text-align: center;
                line-height: 0.5rem;
                color: #28dd8b;
            }
            .cb-y {
                width: 0.1rem;
                height: 0.1rem;
                border-radius: 50%;
                background: #28dd8b;
                @include top-bottom;
                right: 0.12rem;
            }
            .cb-y1 {
                left: -1.5rem;
            }
        }
        .cb-f2 {
            width: 2rem;
            height: 0.5rem;
            border-radius: 1rem;
            background: #28dd8b;
            @include top-bottom;
            right: 0.2rem;
            span {
                width: 2rem;
                height: 0.5rem;
                display: block;
                text-align: center;
                line-height: 0.5rem;
                color: #fff;
            }
            .cb-y {
                width: 0.1rem;
                height: 0.1rem;
                border-radius: 50%;
                background: #fff;
                @include top-bottom;
                right: 0.12rem;
            }
            .cb-y1 {
                left: -1.5rem;
            }
        }
    }
}

//  img{
//      position: absolute;
//      left: 0;
//      right: 0;
//      top: 0;
//      bottom: 0;
//      margin: auto;
//  }
}

/*新闻头部*/
#new-nav {
    width: 100%;
    height: 1.4rem;
    background: #29A6DC;
    position: relative;
    &:after {
        @include clearfix;
    }
    .back {
        @include whb(0.5rem,0.5rem,transparent);
        @include left-top(0.2rem,0.5rem);
    }
    .arrow {
        background-image: url('../image/6/arrow.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
    }
    .title{
        width: 100%;
        height: 100%;
        position: relative;
        color:#FFF;
        text-align: center;
        .title1{
            width: 100%;
            line-height: 1.4rem;
            font-size: 0.4rem;
            float: left;
        }
        .title2{
            width: 100%;
            position: absolute;
            font-size: 0.12rem;
            color:rgba(255,255,255,0.7);
            text-align: center;
            top:1rem;
            left: 0;
        }
    }

}
.biji{
    position: absolute;
    top:1.4rem;

    left: 0;
    right: 0;
    margin: auto;
    width:90%;
    height:7rem;
.star{
   width:100%;
   height:1.5rem; 
   border-bottom:1px solid #999999;
   .zz{
       font-size: 1.3rem;
       float: left;
       color: yellow;
       line-height: 1.5rem;
   }
}
.context{
    position: absolute;
    top:2rem;
    left: 0;
    right: 0;
    margin: auto;
    width:100%;
    height:3rem;
    border: 0.02rem solid #dfdfdf;
    color: #999999;
}



}