$color:#29a6dc;
$padding:0.2rem;
$image:"../images/";
@mixin yuan($v){
    width: $v;
    height: $v;
    border-radius:50% ;
}
/*上下居中的混合宏*/
@mixin tb-center{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}
/*左右居中的混合宏*/
@mixin lr-center{
    position:absolute;
    left:0;
    right:0;
    margin:auto;
}
body,html{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f2f2f2;
}
.B2header{
    width:100%;
    height:1.4rem;
    position: relative;
    background:$color;
    .return{
        width: 0.52rem;
        height: 0.51rem;
        position: absolute;
        background-image:url($image+"arrow.png");
        background-size:cover ;
        bottom: 0.2rem;
        left: 0.25rem;
    }
    .yuyin{
        width: 0.55rem;
        height: 0.5rem;
        background-image:url($image+"yuyin.png");
        background-size:contain ;
        position: absolute;
        right: 0.38rem;
        bottom: 0.2rem;
    }
    .search{
        width: 5.45rem;
        height: 0.55rem;
        position: absolute;
        @include lr-center;
        bottom: 0.2rem;
        box-sizing: border-box;
//      background-image:url($image+"") ;
        border-radius: 0.5rem;
        border:none;
        outline: none;
        padding-left: 0.75rem;
        box-sizing: border-box;
        font-size:0.22rem;
        color:#c4c4c4;
        line-height: 0.55rem;
        background-image:url($image+"fdj.png") ;
        background-size:contain ;
        background-repeat:no-repeat ;
    }
}

.B2title{
    width: 100%;
    height: 1.19rem;
    background-image:url($image+"b2search.png") ;
    background-size:contain;
    background-repeat:no-repeat;
    background-color:#f2f2f2 ;
    margin-left: 0.25rem;
}

//main
.B2main{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 $padding;
    box-sizing: border-box;
    .box{
        width:7rem;
        height: 1.7rem;
        background: #fff;
        margin-left: 0.05rem;
        box-shadow: 0 0 5px 0 #eee;
        margin-bottom: 0.15rem;
        position: relative;
        border-radius: 0.1rem;
        .left{
            width: 2.48rem;
            height: 1.5rem;
            
            margin-left:0.1rem;
            background-image:url($image+"hanzi-tu.png");
            background-size:contain;
            background-repeat: no-repeat;
            border-right:0.02rem dotted  #c7c7c7 ;
            float: left;
            position: relative;
            box-sizing: border-box;
            margin-top:0.1rem ;
        }
        .right{
            width:4.4rem;
            height: 100%;
            float: left;
            position: relative;
            padding-left: 0.15rem;
            box-sizing: border-box;
            position: relative;
            .bookname{
                font-size: 0.28rem;
                color:#333;
                float: left;
                margin-top: 0.15rem;
            }
            .bookintro{
                font-size: 0.22rem;
                color:#666;
                margin-top: 0.05rem;
                line-height: 0.35rem;
                float: left;
//              letter-spacing: 0.02rem;
//              transform: scale(0.8);
               
            }
            .public{
                font-size: 0.12rem;
                color:#999;
                float: left;
                padding-left: 0.23rem;
                position: relative;
                margin-top: 0.04rem;
             
                i{
                    width: 0.18rem;
                    height: 0.24rem;
                    position: absolute;
                    left: 0;
                    top:0;
                    background-image:url($image+"hanzi-xia1.png") ;
                    background-size: contain;
                    @include tb-center;
                    
                }
            }
            .pos{
                position: absolute;
                font-size: 0.12rem;
                color: #999;
                padding-left: 0.2rem;
                bottom: 0.08rem;
                right: 0.1rem;
                i{
                    width: 0.18rem;
                    height: 0.24rem;
                    background-image:url($image+"hanzi-xia2.png") ;
                    background-size: contain; 
                    position: absolute;
                    left: -0.02rem;
                     @include tb-center;
                }
            }
        }
    }
}
